
body {
    background-color: rgb(245, 245, 247);
    margin: 0px;
    font-family: 'Times New Roman', Times, serif
}

/* index.html */

.title {
    background-color: rgb(245, 245, 247);
    padding-left: 15px; padding-right: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    font-family: magneto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17.5px;
}

.search_button {
    background-color: rgb(245, 245, 247);
    border: none;

}

.home_button {
    background-color: rgb(245, 245, 247);
    border: none;
}

.movie_posters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    margin-top: 0px;
}

.cars1 {
    transition: 250ms;
    background-color: red;
    text-align: center;
    width: 33%;
    height: 100%;
}

.cars1:hover {
    width: 37%;
    height: 110%
    
}

.cars1poster {
    transition: 250ms;
    width: 100%;
    height: 100%
}


.cars2 {
    transition: 250ms;
    background-color: green;
    text-align: center;
    width: 33%;
    height: 100%;
}

.cars2:hover {
    width: 37%;
    height: 110%
}

.cars2poster {
    transition: 250ms;
    width: 100%;
    height: 100%
}

.cars3 {
    transition: 250ms;
    background-color: blue;
    text-align: center;
    width: 33%;
    height: 100%;
}

.cars3:hover {
    width: 37%;
    height: 110%
}

.cars3poster {
    transition: 250ms;
    width: 100%;
    height: 100%
}

/* carsx.html */

p {
    font-size: 25px;
}

.general_info {
    background-color: rgb(245, 245, 247);;
    padding-left: 80px; padding-right: 40px; padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 40px;
    background-color: rgb(245, 245, 247);;
    width: 40%
}

.image {
    background-color: rgb(245, 245, 247);;
}

.cars1image {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.plot {
    padding-top: 50px; padding-left: 80px; padding-right: 40px;
}